.DS_Store
font2font/testA/.DS_Store
font2font/.DS_Store
font2font/trainA/.DS_Store
font2font/trainB/.DS_Store
font2font/trainB/.DS_Store
images
.DS_Store
models/
sketch2photo/
testA/
testB/
texts/
wt024.ttf
wt071.ttf
font2font
apple2orange

